.Portfolio {
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  z-index: 1;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: start;
  background-color: var(--background2);
  box-shadow: 0 0 10px black;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.Portfolio-text {
  position: absolute;
  font-size: 200px;
  z-index: 4;
  color: var(--background);
  opacity: 1;
  transform: rotate(-90deg) translateY(0px);
  left: -270px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Portfolio-box {
  margin: 50px 50px 50px 250px;
  width: calc(100% - 280px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 11;
}

.Portfolio-mobile {
  display: none;
}

.Portfolio-box-row {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 40px;
}

.Portfolio-box-element {
  height: 300px;
  width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 0.5s;
  box-shadow: 0 0 2px 2px black;
  opacity: 0.6;
  filter: grayscale(0.9)
}

.Portfolio-box-element:hover {
  box-shadow: 0 0 5px 5px black;
  transform: scale(1.1);
  filter: grayscale(0);
  cursor: pointer;
  border-radius: 0px;
  opacity: 1;
}

.Portfolio-box-row:nth-child(2) a:nth-child(1) .Portfolio-box-element {
  background-image: url("./images/DeliverTo.jpeg");
}


.Portfolio-box-row:nth-child(2) a:nth-child(2) .Portfolio-box-element {
  background-image: url("./images/MyExpenses.jpeg");
}

.Portfolio-box-row:nth-child(3) a:nth-child(1) .Portfolio-box-element {
  background-image: url("./images/OneFuture.jpeg");
}

.Portfolio-box-row:nth-child(3) a:nth-child(2) .Portfolio-box-element {
  background-image: url("./images/TicTacToe.jpeg");
}

.Portfolio-box-row:nth-child(3) a:nth-child(3) .Portfolio-box-element {
  background-image: url("./images/VPNConnect.jpeg");
}


.hide-scale {
  transform: scaleY(0)
}

.show-scale {
  transform: scaleY(1);
}


@media only screen and (max-width: 1620px) {
  .Portfolio-box-element {
    height: 250px;
    width: 300px;
  }

  .Portfolio-box {
    gap: 20px;
  }

  .Portfolio-box-row {
    gap: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .Portfolio-text {
    display: none;
  }

  .Portfolio {
    gap: 50px;
  }

  .Portfolio-box {
    margin: 50px 50px 50px 50px;
    width: calc(100% - 100px);
  }
}



@media only screen and (max-width: 1000px) {
  .Portfolio {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .Portfolio-text {
    display: none;
  }

  .Portfolio-box-element {
    height: 200px;
    width: 300px;
  }

  .Portfolio-mobile {
    display: block;
    color: var(--blue);
    font-size: 60px;
  }

  .Portfolio {
    min-height: 100vh;
    height: min-content;
    padding: 20px 0 20px 0;
  }
}

@media only screen and (max-width: 725px) {
  .Portfolio-box-element {
    height: 180px;
    width: 250px;
  }
}

@media only screen and (max-width: 705px) {
  .Portfolio-mobile {
    font-size: 50px;
  }
}



@media only screen and (max-width: 625px) {
  .Portfolio-box {
    margin: 20px 20px 20px 20px;
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 560px) {
  .Portfolio-box-element {
    height: 350px;
    width: 450px;
  }

  .Portfolio-box {
    gap: 30px;
  }

  .Portfolio-box-row {
    gap: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .Portfolio-box-element {
    height: 300px;
    width: 400px;
  }
}

@media only screen and (max-width: 505px) {
  .Portfolio-mobile {
    font-size: 40px;
  }
}


@media only screen and (max-width: 470px) {
  .Portfolio-box-element {
    height: 250px;
    width: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .Portfolio-box-element {
    height: 200px;
    width: 300px;
  }

  .Portfolio-mobile {
    font-size: 35px;
  }
}

@media only screen and (max-width: 370px) {
  .Portfolio-box-element {
    height: 150px;
    width: 250px;
  }

  .Portfolio-mobile {
    font-size: 30px;
  }
}
