.Portfolio {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: var(--background);
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.Portfolio-text {
  position: absolute;
  font-size: 200px;
  z-index: 4;
  color: rgb(19, 19, 19);
  opacity: 1;
  transform: rotate(-90deg);
  transform: rotate(-90deg) translateY(-200px);
  left: -270px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@media only screen and (max-width: 1000px) {
  .Portfolio {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .Portfolio-text {
    display: none;
  }
}