.Skills {
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  z-index: 1;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: start;
  background-color: var(--background2);
  box-shadow: 0 0 10px black;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.Skills-text {
  position: absolute;
  font-size: 200px;
  z-index: 4;
  color: var(--background);
  opacity: 0.4;
  left: -130px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: rotate(-90deg) translateY(0px);

}

.Skills-box {
  margin: 50px 50px 50px 250px;
  width: calc(100% - 280px);
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  z-index: 10;
}


@media only screen and (max-width: 1400px) {
  .Skills-text {
    display: none;
  }

  .Skills {
    gap: 50px;
  }

  .Skills-box {
    margin: 50px 50px 50px 50px;
    width: calc(100% - 100px);
  }
}



@media only screen and (max-width: 1000px) {
  .Skills {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .Skills-text {
    display: none;
  }

}


@media only screen and (max-width: 705px) {}

@media only screen and (max-width: 625px) {
  .Skills-box {
    margin: 20px 20px 20px 20px;
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 505px) {}

@media only screen and (max-width: 425px) {}
