.Skills {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: rgb(19, 19, 19);
  box-shadow: 0 0 5px black;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.Sills-text {
  position: absolute;
  font-size: 200px;
  z-index: 4;
  color: var(--background);
  opacity: 0.4;
  transform: rotate(-90deg) translateY(-200px);
  left: -130px;
}

.hiddenText {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transition-delay: 100ms;
}

.showText {
  opacity: 0.4;
  filter: blur(0);
  transition-delay: 100ms;
  transform: rotate(-90deg) translateY(0px);
}

@media only screen and (max-width: 1000px) {
  .Skills {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .Sills-text {
    display: none;
  }
}

