.MainPage {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NameText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 90px;
  font-family: 'Anton', sans-serif;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.NameText div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
  color: rgb(15, 121, 139);
}

.NameText div span {
  position: relative;
  transition: all 1s;
}

.NameText div:nth-child(2) span:nth-child(5) {
  color: rgb(116, 18, 18);
  transition: all 1s;
}

.NameText div:nth-child(2) span:nth-child(5)::after {
  content: "M";
  font-size: 90px;
  position: absolute;
  color: rgb(15, 121, 139);
  left: -5px;
}

.trail {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 1px solid rgba(15, 120, 139, 0.055);
  background: rgb(15, 121, 139);
  position: fixed;
  animation: trail 1s linear forwards;
}

@keyframes trail {
  0% {
    transform: scale(0);
    box-shadow: 0 0 10px 10px rgb(15, 121, 139);
  }

  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;

  }

  100% {
    transform: scale(1) translateY(50px);
    opacity: 0;
  }
}

@keyframes letters {
  0% {
    transform: scaleY(0);
  }


  100% {
    transform: scale(2);
  }
}


@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1)
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1)
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation: rubberBand 1s linear forwards;

}