.MainPage {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NameText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 90px;
  font-family: 'Anton', sans-serif;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

.NameText div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
  color: rgb(15, 121, 139);
}

.NameText div span {
  animation: animateName 1s ease-in-out;
  position: relative;
}

.NameText div:nth-child(2) span:nth-child(5) {
  color: rgb(116, 18, 18)
}

.NameText div:nth-child(2) span:nth-child(5)::after {
  content: "M";
  font-size: 90px;
  position: absolute;
  color: rgb(15, 121, 139);
  left: -5px;
}

.trail {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(15, 121, 139);
  background: rgb(15, 121, 139);
  position: fixed;
  animation: come 1s ease-in-out forwards;

}

@keyframes come {
  0% {
    transform: scale(0);

  }

  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;

  }

  100% {
    transform: scale(1) translateY(50px);
    opacity: 0;
    box-shadow: 0 0px 120px rgba(0, 217, 255, 0.199);
  }
}


