.Contact {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 200px;
  z-index: 1;
  justify-content: center;
  align-items: flex-end;
  scroll-snap-align: start;
  background-color: rgb(19, 19, 19);
  box-shadow: 0 0 10px black;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

.Contact-text {
  position: absolute;
  font-size: 200px;
  z-index: 4;
  color: var(--background);
  opacity: 0.4;
  transform: rotate(-90deg);
  left: -205px;
  transform: rotate(-90deg) translateY(-200px);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hiddenText {
  opacity: 0;
  transition: all 1s;
  transition-delay: 300ms;
}

.showText {
  opacity: 0.8;
  transform: rotate(-90deg) translateY(0px);
}

.Contact-box {
  margin: 50px 50px 50px 150px;
  width: calc(100% - 280px);
  height: 100%;
  background-color: var(--background);
  transition-delay: 800ms;
  transition: all 1s;
  box-shadow: inset 0 0 10px black;
  border: 1px solid rgba(17, 17, 17, 0.459);
}

.show-scale {
  transform: scale(1);
}

.hide-scale {
  transform: scale(0);
}



@media only screen and (max-width: 1000px) {
  .Contact {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .Contact-text {
    display: none;
  }
}
