.NavBar {
  font-family: 'Anton', sans-serif;
  position: fixed;
  z-index: 4;
}

.navbarM {
  display: none;
}

.checkbox {
  display: none;
}

ul {
  width: 200px;
  border-right: 3px solid rgba(0, 0, 0, 0.548);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.842);
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(19, 19, 19);
  transition: all 0.8s;
  overflow: hidden;

}

.Logo {
  position: fixed;
  display: flex;
  width: 200px;
  justify-content: center;
  z-index: 10;
  background-image: url("./images/logo.png");
  margin: 25px;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border-radius: 50%;
  transition-duration: 300ms;
  
}

.Logo:hover {
  opacity: 1;
  box-shadow: inset 0 0 5px white;
}


ul li {
  list-style: none;
  position: relative;
}

ul li a {
  transition: all 1s;
  position: relative;
  padding: 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.63);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 4px solid white;
}



@media (hover: hover) {
  ul li a:hover::before {
    width: 70%;
    -webkit-filter: drop-shadow(0 0 15px white);
            filter: drop-shadow(0 0 15px white);
    -webkit-text-stroke: 0px rgba(255, 255, 255, 0);
  }
}




.active {
  color: white;
  -webkit-filter: drop-shadow(0 0 15px white);
  filter: drop-shadow(0 0 15px white);
-webkit-text-stroke: 0px rgba(255, 255, 255, 0);
}


.Navbar__icons {
  width: 200px;
  display: flex;
  height: 100vh;
  align-items: flex-end;
  position: fixed;
  justify-content: center;
  justify-items: center;
}

.Navbar__icon {
  margin: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 300ms;
  opacity: 0.3;
}

.icon1 {
  background-image: url("./images/linkedin.svg");
}

.icon2 {
  background-image: url("./images/github.svg");
}

.icon1:hover {
  opacity: 1;
}

.icon2:hover {
  opacity: 1;
}


@media only screen and (max-width: 1000px) {
  ul {
    width: 100vw;
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  ul li a {
    font-size: 20px;
  }

  .Logo {
    display: none;
  }
  


  .Navbar__icons {
    width: 100vw;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
  }


  .icon2 {
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .PC{
    display: none;
  }

  .Navbar__icons {
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: absolute;
    bottom: -50px;
  }

  .icon1 {
    margin: 0;
  }

  .icon2 {
    margin: 0;
  }

  .navbarM {
    display: block;
  }

  .checkbox {
    display: block;
  }

  .navbar-container {
    font-family: 'Anton', sans-serif;
    display: block;
    position: fixed;
    z-index: 5;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarM .menu-items {
    background: rgba(17, 17, 17, 0.986);
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
  }

  .navbarM .menu-items li {
    margin-bottom: 1.5rem;
  }

  ul li a {
    font-size: 30px;
  }


  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotateZ(-45deg) scaleX(0.75) translate(-12px, 6px);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotateZ(45deg) scaleX(0.75) translate(-13px, -7px);
  }
}