:root {
  --blue: #23b3cc;
  --red: #741212;
  --background: #181818;
  --background2: #131313;

  /*   --blue: #B9732f;
  --red: #741212;
  --background: #ffffff;
  --background2: #437FC7; */
}

.section::-webkit-scrollbar {
  width: 16px;
}

.section::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 100px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--blue) var(--background2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--background2);

}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0px;
  border: 1px none var(--background2);
}


html {
  scroll-behavior: smooth;
  background: var(--background2);
  font-family: 'Anton', sans-serif;
  /*-ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;*/
  overflow-y: scroll;
  margin: auto !important;
  float: none !important;
}

body {
  background: var(--background2);
  background: linear-gradient(180deg, var(--background) 0%, var(--background2) 100%);
}

@media only screen and (max-width: 768px) {
  html {
    -ms-scroll-snap-type: none;
    scroll-snap-type: none;
  }
}



.trail {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: fixed;
  -webkit-animation: trail 0.5s forwards;
  animation: trail 0.5s forwards;
  z-index: 5;
}

@-webkit-keyframes trail {
  0% {
    transform: scale(0);
    opacity: 1;
    box-shadow: 0 0 20px 5px white;
  }

  60% {
    transform: scale(1.5);
    opacity: 0.4;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes trail {
  0% {
    transform: scale(0);
    opacity: 1;
    box-shadow: 0 0 20px 5px white;
  }

  60% {
    transform: scale(1.5);
    opacity: 0.4;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes letters {
  0% {
    transform: scaleY(0);
  }


  100% {
    transform: scale(2);
  }
}

@keyframes letters {
  0% {
    transform: scaleY(0);
  }


  100% {
    transform: scale(2);
  }
}
